$shop-cart-product-border: $shop-border-width-lg solid $shop-color-gray-dark;
$shop-cart-product-padding-x: $shop-spacing-sm;
$shop-cart-product-padding-y: $shop-spacing-md;
$shop-cart-product-description-margin: $shop-spacing-xs;

.cart-list {
  @include grid-container();
  @include grid-row();

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.cart-product {
  width: 100%;
  border-bottom: $shop-cart-product-border;
  padding: $shop-cart-product-padding-y 0;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  & > * {
    padding: 0 $shop-cart-product-padding-x;
    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
  }
}

.cart-product__image {
  img {
    width: auto;
    height: 80px;
  }
}

.cart-product__description {
  flex-grow: 1;
  h3 {
    margin: 0;
  }
  p {
    margin-bottom: 0;
  }
}

.cart-product__remove {
  text-align: right;
  button {
    padding: 0;
  }
}

.cart-product__price {
  text-align: right;
}

.cart-total {
  width: 100%;
  padding: $shop-cart-product-padding-y 0;
  text-align: right;
}
