$shop-content-margin-y: $shop-spacing-md;
$shop-content-margin-x: $shop-spacing-lg;
$shop-content-grid-columns: $shop-grid-columns;
$shop-content-block-margin: $shop-spacing-md;

@mixin content-block() {
  @include grid-container-block();
  @include grid-row();

  margin-bottom: $shop-content-block-margin;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin content-block-full-bleed() {
  @include content-block();
  @include grid-container-full-bleed-block();
}

@mixin content-block__content($grid-column-span) {
  @include grid-column($grid-column-span);
  padding-left: 0;
  padding-right: 0;
}

@mixin content-block__content-centered($grid-column-span) {
  @include content-block__content($grid-column-span);
  padding: $shop-content-margin-y $shop-content-margin-x;
  align-self: center;
  text-align: center;
}

.content-block {
  @include content-block();

  &.transparent {
    background-color: transparent;
  }
}

.content-block-full-bleed {
  @include content-block-full-bleed();
}

.content-block__content {
  @include content-block__content($shop-content-grid-columns);
}

.content-block__content-centered {
  @include content-block__content-centered($shop-content-grid-columns);
}
