$shop-content-block-padding-y: $shop-spacing-md;
$shop-content-block-padding-x: $shop-spacing-lg;
$shop-content-grid-columns: $shop-grid-columns;

@mixin content-block() {
  @include grid-container-block();
  @include grid-row();
  padding: $shop-content-block-padding-y $shop-content-block-padding-x;
}

@mixin content-block-full-bleed() {
  @include grid-container-full-bleed-block();
  @include grid-row();
  padding: $shop-content-block-padding-y $shop-content-block-padding-x;
}

@mixin content-block__content-centered($grid-column-span) {
  @include grid-column($grid-column-span);
  align-self: center;
  text-align: center;
}

.content-block {
  @include content-block();
}

.content-block-full-bleed {
  @include content-block-full-bleed();
}

.content-block__content-centered {
  @include content-block__content-centered($shop-content-grid-columns);
}
