$shop-grid-width-full-bleed: 100%;
$shop-grid-width: .9375;
$shop-grid-block-color: $shop-color-gray-light;
$shop-grid-columns: 12 !default;
$shop-grid-gap: $shop-spacing-md;
$shop-grid-padding: $shop-spacing-xs;

@mixin grid-container() {
  width: percentage($shop-grid-width);
  min-width: calc(1024px * #{$shop-grid-width});
  max-width: calc(1440px * #{$shop-grid-width});
  margin: 0 auto;
}

@mixin grid-container-block() {
  @include grid-container();
  background-color: $shop-grid-block-color;
}

@mixin grid-container-full-bleed() {
  width: $shop-grid-width-full-bleed;
  max-width: $shop-grid-width-full-bleed;
}

@mixin grid-container-full-bleed-block() {
  @include grid-container-full-bleed();
  background-color: $shop-grid-block-color;
}

@mixin grid-row() {
  grid-column: span $shop-grid-columns;
  display: grid;
  grid-template-columns: repeat($shop-grid-columns, 1fr);
  grid-gap: $shop-grid-gap;
}

@mixin grid-column($grid-column-span: 1, $grid-column-start: auto) {
  padding: $shop-grid-padding;
  grid-column: $grid-column-start / span $grid-column-span;
}

@mixin grid-span($grid-column-span, $grid-column-start: auto) {
  grid-column: $grid-column-start / span $grid-column-span;
}

.container {
  @include grid-container();
}

.container-full-bleed {
  @include grid-container-full-bleed();
}

.row {
  @include grid-row();
}

.col {
  @include grid-column();
}

.span1 { @include grid-span(1); }
.span2 { @include grid-span(2); }
.span3 { @include grid-span(3); }
.span4 { @include grid-span(4); }
.span5 { @include grid-span(5); }
.span6 { @include grid-span(6); }
.span7 { @include grid-span(7); }
.span8 { @include grid-span(8); }
.span9 { @include grid-span(9); }
.span10 { @include grid-span(10); }
.span11 { @include grid-span(11); }
.span12 { @include grid-span(12); }
.span-all { @include grid-span(12); }
