* {
  box-sizing: border-box;
}

body {
  background-color: $shop-color-white;
  color: $shop-color;
  font-family: $shop-font-family;
  font-size: $shop-font-size;
  margin: 0;
  padding: 0;
}

a,
button,
label,
input[type=checkbox],
input[type=radio],
{
  cursor: pointer;
}
